<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>EjemploDePrueba</display-name>
    <servlet-name>EjemploDePrueba</servlet-name>
    <servlet-class>controlador.EjemploDePrueba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjemploDePrueba</servlet-name>
    <url-pattern>/EjemploDePrueba</url-pattern>
  </servlet-mapping>
  <display-name>ArcheoTechSolutions</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SvAdmnistrador</display-name>
    <servlet-name>SvAdmnistrador</servlet-name>
    <servlet-class>controlador.SvAdmnistrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvAdmnistrador</servlet-name>
    <url-pattern>/SvAdmnistrador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sv_Proyecto</display-name>
    <servlet-name>Sv_Proyecto</servlet-name>
    <servlet-class>controlador.Sv_Proyecto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sv_Proyecto</servlet-name>
    <url-pattern>/Sv_Proyecto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvProyecto</display-name>
    <servlet-name>SvProyecto</servlet-name>
    <servlet-class>controlador.SvProyecto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvProyecto</servlet-name>
    <url-pattern>/SvProyecto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProyectoSv</display-name>
    <servlet-name>ProyectoSv</servlet-name>
    <servlet-class>controlador.ProyectoSv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProyectoSv</servlet-name>
    <url-pattern>/ProyectoSv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Proyecto</description>
    <display-name>SvProyectoTest</display-name>
    <servlet-name>SvProyectoTest</servlet-name>
    <servlet-class>controlador.SvProyecto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvProyectoTest</servlet-name>
    <url-pattern>/SvProyectoTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvUsuario</display-name>
    <servlet-name>SvUsuario</servlet-name>
    <servlet-class>controlador.SvUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvUsuario</servlet-name>
    <url-pattern>/SvUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvPieza</display-name>
    <servlet-name>SvPieza</servlet-name>
    <servlet-class>controlador.SvPieza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvPieza</servlet-name>
    <url-pattern>/SvPieza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvGestionUsuario</display-name>
    <servlet-name>SvGestionUsuario</servlet-name>
    <servlet-class>controlador.SvGestionUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvGestionUsuario</servlet-name>
    <url-pattern>/SvGestionUsuario</url-pattern>
  </servlet-mapping>
</web-app>